---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

// Work experience
interface WorkExperience {
  company: string;
  role: string;
  isCurrent?: boolean;
  logo?: string;
  link?: { url: string; text: string };
  note?: string;
}

const workExperience: WorkExperience[] = [
  {
    company: 'Sentry',
    role: 'Developer Experience Engineer',
    isCurrent: true,
    logo: `<svg width="20" height="18" viewBox="0 0 50 44" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M29,2.26a4.67,4.67,0,0,0-8,0L14.42,13.53A32.21,32.21,0,0,1,32.17,40.19H27.55A27.68,27.68,0,0,0,12.09,17.47L6,28a15.92,15.92,0,0,1,9.23,12.17H4.62A.76.76,0,0,1,4,39.06l2.94-5a10.74,10.74,0,0,0-3.36-1.9l-2.91,5a4.54,4.54,0,0,0,1.69,6.24A4.66,4.66,0,0,0,4.62,44H19.15a19.4,19.4,0,0,0-8-17.31l2.31-4A23.87,23.87,0,0,1,23.76,44H36.07a35.88,35.88,0,0,0-16.41-31.8l4.67-8a.77.77,0,0,1,1.05-.27c.53.29,20.29,34.77,20.66,35.17a.76.76,0,0,1-.68,1.13H40.6q.09,1.91,0,3.81h4.78A4.59,4.59,0,0,0,50,39.43a4.49,4.49,0,0,0-.62-2.28Z"/></svg>`,
  },
  {
    company: 'Acctual',
    role: 'Founding Engineer',
    logo: `<svg fill="none" height="10" viewBox="0 0 36 18" width="20" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path d="m12.7038 0c.2486 0 .45.201472.45.45v3.25385c0 .24852-.2014.45-.45.45h-3.7038c-2.67646 0-4.84615 2.16969-4.84615 4.84615 0 2.6765 2.16969 4.8462 4.84615 4.8462h3.7038c.2486 0 .45.2014.45.45v3.2538c0 .2485-.2014.45-.45.45h-3.7038c-4.97056 0-9-4.0294-9-9 0-4.97056 4.02944-9 9-9z"/><path d="m27 4.15385h-3.7038c-.2486 0-.45-.20148-.45-.45v-3.25385c0-.248528.2014-.45.45-.45h3.7038c4.9706 0 9 4.02944 9 9 0 4.9706-4.0294 9-9 9h-3.7038c-.2486 0-.45-.2015-.45-.45v-3.2538c0-.2486.2014-.45.45-.45h3.7038c2.6765 0 4.8462-2.1697 4.8462-4.8462 0-2.67646-2.1697-4.84615-4.8462-4.84615z"/><path d="m20.0769.45c0-.248528-.2014-.45-.45-.45h-3.2538c-.2486 0-.45.201472-.45.45v6.02308c0 .24852-.2015.45-.45.45h-6.4731c-1.14705 0-2.07692.92987-2.07692 2.07692 0 1.1471.92987 2.0769 2.07692 2.0769h6.4731c.2485 0 .45.2015.45.45v6.0231c0 .2485.2014.45.45.45h3.2538c.2486 0 .45-.2015.45-.45v-6.0231c0-.2485.2015-.45.45-.45h6.4731c1.1471 0 2.0769-.9298 2.0769-2.0769 0-1.14705-.9299-2.07692-2.0769-2.07692h-6.4731c-.2485 0-.45-.20148-.45-.45z"/></g></svg>`,
  },
  {
    company: 'Coinbase',
    role: 'Senior Frontend Developer',
    logo: `<svg aria-label="Coinbase logo" height="16" role="img" viewBox="0 0 48 48" width="16" xmlns="http://www.w3.org/2000/svg"><title>Coinbase logo</title><path d="M24,36c-6.63,0-12-5.37-12-12s5.37-12,12-12c5.94,0,10.87,4.33,11.82,10h12.09C46.89,9.68,36.58,0,24,0 C10.75,0,0,10.75,0,24s10.75,24,24,24c12.58,0,22.89-9.68,23.91-22H35.82C34.87,31.67,29.94,36,24,36z" fill="currentColor"></path></svg>`,
  },
  {
    company: 'Shopify',
    role: 'Senior Frontend Developer',
    logo: `<svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.5 124.5"><g><path d="M74.7,14.8c0,0-1.4,0.4-3.7,1.1c-0.4-1.3-1-2.8-1.8-4.4c-2.6-5-6.5-7.7-11.1-7.7c0,0,0,0,0,0c-0.3,0-0.6,0-1,0.1 c-0.1-0.2-0.3-0.3-0.4-0.5c-2-2.2-4.6-3.2-7.7-3.1c-6,0.2-12,4.5-16.8,12.2c-3.4,5.4-6,12.2-6.7,17.5c-6.9,2.1-11.7,3.6-11.8,3.7 c-3.5,1.1-3.6,1.2-4,4.5C9.1,40.7,0,111.2,0,111.2l75.6,13.1V14.6C75.2,14.7,74.9,14.7,74.7,14.8z M57.2,20.2 c-4,1.2-8.4,2.6-12.7,3.9c1.2-4.7,3.6-9.4,6.4-12.5c1.1-1.1,2.6-2.4,4.3-3.2C56.9,12,57.3,16.9,57.2,20.2z M49.1,4.3 c1.4,0,2.6,0.3,3.6,0.9c-1.6,0.8-3.2,2.1-4.7,3.6c-3.8,4.1-6.7,10.5-7.9,16.6c-3.6,1.1-7.2,2.2-10.5,3.2 C31.7,19.1,39.8,4.6,49.1,4.3z M37.4,59.3c0.4,6.4,17.3,7.8,18.3,22.9c0.7,11.9-6.3,20-16.4,20.6c-12.2,0.8-18.9-6.4-18.9-6.4 l2.6-11c0,0,6.7,5.1,12.1,4.7c3.5-0.2,4.8-3.1,4.7-5.1c-0.5-8.4-14.3-7.9-15.2-21.7C23.8,51.8,31.4,40.1,48.2,39 c6.5-0.4,9.8,1.2,9.8,1.2l-3.8,14.4c0,0-4.3-2-9.4-1.6C37.4,53.5,37.3,58.2,37.4,59.3z M61.2,19c0-3-0.4-7.3-1.8-10.9 c4.6,0.9,6.8,6,7.8,9.1C65.4,17.7,63.4,18.3,61.2,19z" fill="currentColor"/><path d="M78.1,123.9l31.4-7.8c0,0-13.5-91.3-13.6-91.9c-0.1-0.6-0.6-1-1.1-1c-0.5,0-9.3-0.2-9.3-0.2s-5.4-5.2-7.4-7.2V123.9z" fill="currentColor"/></g></svg>`,
  },
  {
    company: 'Ruutly',
    role: 'CTO / Co-Founder',
    note: 'acquired by',
    link: { url: 'https://betakit.com/careerbeacon-acquires-employer-branding-platform-provider-ruutly/', text: 'CareerBeacon' },
    logo: `<svg width="20" height="20" viewBox="225 125 310 320" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 C0.76463058 -0.00992981 1.52926117 -0.01985962 2.31706238 -0.03009033 C4.85903505 -0.05940141 7.40075679 -0.07295973 9.94287109 -0.08398438 C11.7177226 -0.09549616 13.49257408 -0.10701151 15.26742554 -0.11853027 C19.0017004 -0.13957923 22.73588897 -0.15124076 26.47021484 -0.15820312 C31.21317839 -0.16908033 35.95496644 -0.21691798 40.69756508 -0.27414703 C44.37321033 -0.3117796 48.04858575 -0.32183151 51.7244072 -0.32487488 C53.46963183 -0.3308607 55.21485567 -0.34668543 56.95988846 -0.37324524 C72.15406218 -0.58768077 85.72340657 1.82521693 97.48583984 12.26757812 C98.18064453 12.945625 98.87544922 13.62367188 99.59130859 14.32226562 C100.23455078 14.9384375 100.87779297 15.55460938 101.54052734 16.18945312 C113.15444136 28.33241745 115.18159794 42.64775528 114.90380859 58.68945312 C114.42294636 70.85126035 108.96566737 82.45529751 100.59130859 91.32226562 C98.48670691 92.79711198 96.37931362 94.23597781 94.20068359 95.59960938 C92.32092979 97.26817565 92.32092979 97.26817565 92.28295898 100.06689453 C92.65086891 103.95106792 93.78057307 105.88276554 95.91552734 109.13085938 C96.61484375 110.20787109 97.31416016 111.28488281 98.03466797 112.39453125 C98.78252692 113.51640134 99.53057511 114.6381453 100.27880859 115.75976562 C101.00854165 116.8768098 101.73706879 117.99464274 102.46435547 119.11328125 C105.41575122 123.62258271 108.38290203 128.08594578 111.61865234 132.39648438 C113.59130859 135.32226562 113.59130859 135.32226562 113.46630859 138.69726562 C112.59130859 141.32226562 112.59130859 141.32226562 111.59130859 142.32226562 C107.21479391 142.59157246 102.83205775 142.5937797 98.44824219 142.61743164 C96.25958423 142.63442953 94.07252457 142.67825631 91.88427734 142.72265625 C79.03264057 142.8681856 69.75536989 140.53863042 60.30224609 131.45117188 C56.05286226 126.81366743 52.9342837 121.37156261 49.78271484 115.95898438 C47.93378875 112.8426265 46.14717363 109.92288316 43.59130859 107.32226562 C41.27836753 106.68722825 41.27836753 106.68722825 38.90380859 106.94726562 C38.11619141 106.98078125 37.32857422 107.01429688 36.51708984 107.04882812 C34.5871788 107.12616829 34.5871788 107.12616829 33.59130859 108.32226562 C33.46912866 110.57786603 33.41149987 112.83701055 33.38037109 115.09570312 C33.35229987 116.49154813 33.32363539 117.88738131 33.29443359 119.28320312 C33.25316857 121.49088174 33.21629577 123.69834018 33.18994141 125.90625 C33.16234183 128.03236929 33.11646942 130.15747407 33.06787109 132.28320312 C33.04805176 133.5598584 33.02823242 134.83651367 33.0078125 136.15185547 C32.59130859 139.32226562 32.59130859 139.32226562 31.58129883 141.23950195 C28.31939701 143.0143191 24.89427579 142.72787129 21.27490234 142.68554688 C20.05650414 142.68629463 20.05650414 142.68629463 18.81349182 142.6870575 C17.09788565 142.68471846 15.38227596 142.6749999 13.66674805 142.65844727 C11.03517124 142.63482274 8.40460533 142.63789124 5.77294922 142.64453125 C4.10692753 142.63895552 2.44091012 142.6318463 0.77490234 142.62304688 C-0.01469376 142.62395828 -0.80428986 142.62486969 -1.61781311 142.62580872 C-7.17765348 142.55330355 -7.17765348 142.55330355 -9.40869141 140.32226562 C-9.66037369 137.92655945 -9.66037369 137.92655945 -9.66265869 134.85620117 C-9.66829834 133.6951889 -9.67393799 132.53417664 -9.67974854 131.33798218 C-9.67570007 130.0579129 -9.67165161 128.77784363 -9.66748047 127.45898438 C-9.67018941 126.10234387 -9.67374979 124.74570484 -9.67810059 123.3890686 C-9.68723847 119.69905128 -9.68367462 116.00914547 -9.67734241 112.31912613 C-9.67228963 108.46299177 -9.67697185 104.60686715 -9.68011475 100.75073242 C-9.68375651 94.27423381 -9.67894981 87.79778076 -9.66943359 81.32128906 C-9.65854862 73.82656674 -9.66207406 66.33195323 -9.6730864 58.83723354 C-9.68215333 52.41002945 -9.68344748 45.98285817 -9.67820907 39.55564976 C-9.67508608 35.71362588 -9.674689 31.87165319 -9.68128204 28.02963257 C-9.68704626 24.41813421 -9.68307572 20.80677654 -9.67149353 17.19529343 C-9.66757399 15.23238063 -9.67354047 13.26945597 -9.67974854 11.30654907 C-9.67410889 10.1455368 -9.66846924 8.98452454 -9.66265869 7.78833008 C-9.66152761 6.26850273 -9.66152761 6.26850273 -9.66037369 4.7179718 C-9.06838496 -0.9170337 -4.49940495 0.01387345 0 0 Z" transform="translate(328.40869140625,211.677734375)"/><path d="M0 0 C1.59908203 0.00580078 1.59908203 0.00580078 3.23046875 0.01171875 C9.59912925 0.08187535 15.66309971 0.50842677 21.9140625 1.80078125 C26.27528102 2.63947712 30.48560775 2.58280453 34.859375 1.7578125 C56.27076086 -1.44896188 75.81211842 3.29602262 93.8671875 14.9375 C96.11955018 16.60472931 98.18350255 18.35728478 100.25 20.25 C101.13042969 21.05050781 102.01085937 21.85101563 102.91796875 22.67578125 C107.95869562 27.48011541 111.7911357 31.94357164 115.4375 37.9375 C119.52725647 44.15657312 123.6541015 46.5031472 130.23168945 49.44091797 C149.79184928 58.18481201 161.83635107 76.55276433 169.2421875 95.921875 C174.91372547 114.65113992 173.75660316 134.47461629 165.5 152.1875 C162.42195687 159.64942273 163.02713237 167.04918821 163.19506836 175.00830078 C163.56574343 195.48002355 155.91736439 214.4471298 141.6887207 229.24902344 C137.20638049 233.73066383 132.6106819 237.83865698 127.25 241.25 C126.56640625 239.62890625 126.56640625 239.62890625 126.25 237.25 C127.40234375 234.46484375 127.40234375 234.46484375 129.1875 231.1875 C132.1879335 225.50843405 134.804527 219.75107971 137.25 213.8125 C139.55070656 208.24985902 141.90808357 202.74797524 144.5 197.3125 C145.75705281 194.6280461 147.00702685 191.94096174 148.25 189.25 C148.74177734 188.18942383 149.23355469 187.12884766 149.74023438 186.03613281 C151.14897946 182.97107028 152.53713157 179.89886639 153.90759277 176.81661987 C154.73175616 174.97819571 155.57901968 173.15018281 156.42675781 171.32250977 C160.78704671 161.43039773 160.84914332 154.75278229 157.21337891 144.7109375 C155.18536604 139.53040792 153.07165641 134.38757004 150.9375 129.25 C147.61044014 121.17246975 144.39729595 113.10926838 141.6027832 104.83325195 C138.82595659 96.76460689 135.491699 88.91140669 132.20703125 81.0390625 C129.59703055 74.74085568 127.21993769 68.4352041 125.13745117 61.94238281 C121.99240414 50.8577943 121.99240414 50.8577943 114.640625 42.9140625 C113.60421875 42.57117188 112.5678125 42.22828125 111.5 41.875 C106.60752928 40.17478969 101.96221601 38.26159496 97.27734375 36.03515625 C95.95482087 35.41064333 94.63205936 34.78663555 93.30908203 34.16308594 C92.63693665 33.84553345 91.96479126 33.52798096 91.27227783 33.20080566 C79.66425513 27.74311159 67.9505692 22.50535455 56.25 17.25 C55.55718933 16.93818787 54.86437866 16.62637573 54.15057373 16.30511475 C50.21656109 14.53605897 46.27633691 12.78246988 42.32504272 11.05233765 C40.53620709 10.26591761 38.75301427 9.46670181 36.9699707 8.66723633 C35.89191162 8.19954834 34.81385254 7.73186035 33.703125 7.25 C32.76629883 6.8375 31.82947266 6.425 30.86425781 6 C26.33272742 4.69995691 22.66764151 6.35781151 18.390625 7.96484375 C17.4521875 8.31635498 16.51375 8.66786621 15.546875 9.0300293 C14.54140625 9.41199463 13.5359375 9.79395996 12.5 10.1875 C11.448125 10.58428955 10.39625 10.9810791 9.3125 11.38989258 C0.51752849 14.72643279 -8.21699385 18.2071114 -16.94116211 21.72387695 C-23.84389814 24.50290055 -30.77706199 27.16293037 -37.7578125 29.73828125 C-43.55964342 31.90539187 -49.28827001 34.26605655 -55.01489258 36.62353516 C-58.90372363 38.20465251 -62.56253809 39.66153794 -66.75 40.25 C-64.61471893 33.96649061 -60.24715698 29.98095413 -55.75 25.25 C-54.54730469 23.950625 -54.54730469 23.950625 -53.3203125 22.625 C-39.14734922 7.77282123 -20.49222493 -0.17953138 0 0 Z" transform="translate(351.75,137.75)"/><path d="M0 0 C0.79277344 0.44988281 1.58554687 0.89976562 2.40234375 1.36328125 C13.57972164 7.57293563 25.22582639 12.59565248 36.95068359 17.67138672 C41.31860091 19.57452571 45.66038866 21.53337127 50 23.5 C58.57974591 27.37867091 67.18979608 31.18639097 75.81713867 34.95800781 C80.71466266 37.10117436 85.59908505 39.26309349 90.44921875 41.51171875 C91.27663574 41.89191162 92.10405273 42.27210449 92.95654297 42.66381836 C94.48219785 43.36720059 96.00369668 44.07969822 97.52001953 44.80297852 C102.87650824 47.25969941 104.75573607 46.79366243 110.12182617 44.89599609 C111.33330322 44.44305176 112.54478027 43.99010742 113.79296875 43.5234375 C114.45182571 43.27736755 115.11068268 43.03129761 115.789505 42.777771 C117.92318948 41.97953736 120.05544142 41.17756538 122.1875 40.375 C122.91308105 40.10266541 123.63866211 39.83033081 124.38623047 39.54974365 C133.13263117 36.26499828 141.84299163 32.92506468 150.45605469 29.30224609 C155.56114087 27.15821532 160.71652563 25.19314567 165.9074707 23.27026367 C171.78819042 21.09042284 177.63362728 18.82537603 183.47558594 16.54394531 C188.03968217 14.76162301 192.61014759 12.9980027 197.1875 11.25 C201.50471701 9.59415601 205.77077631 7.86872675 210 6 C202.54235506 25.66106394 187.0855558 40.53465388 168.18359375 49.234375 C149.39061711 57.39807525 129.31132543 57.12550322 110 51 C104.0462169 49.40505977 99.54814934 50.28127607 93.6875 51.9375 C75.55565252 57.0107827 55.70181741 54.55251895 39 46 C20.63894654 35.65479885 7.49415977 21.86256979 0 2 C0 1.34 0 0.68 0 0 Z" transform="translate(268,373)"/><path d="M0 0 C-0.53109375 1.11117187 -1.0621875 2.22234375 -1.609375 3.3671875 C-2.32307603 4.86971598 -3.0366086 6.37232449 -3.75 7.875 C-4.27207031 8.96554688 -4.27207031 8.96554688 -4.8046875 10.078125 C-6.6402752 13.95325458 -8.36056351 17.83947048 -9.92578125 21.83203125 C-12.19628459 27.6025685 -14.81507121 33.19525037 -17.4375 38.8125 C-20.83257459 46.14155875 -24.04517319 53.43248475 -26.8359375 61.01171875 C-29.47973147 67.79863951 -32.75389569 74.34136894 -35.91601562 80.89990234 C-45.32186717 97.84676585 -45.32186717 97.84676585 -46 116 C-44.88571803 119.16667486 -43.69707953 122.28723207 -42.4453125 125.40234375 C-40.96008829 129.0993478 -39.56757434 132.82555453 -38.1875 136.5625 C-35.96291862 142.5365135 -33.6317361 148.4620504 -31.25 154.375 C-29.82969766 157.91521947 -28.4137105 161.45714325 -27 165 C-26.55446777 166.11552246 -26.10893555 167.23104492 -25.64990234 168.38037109 C-24.23530904 171.93704892 -22.83494858 175.4990553 -21.4375 179.0625 C-20.98342773 180.19929199 -20.52935547 181.33608398 -20.06152344 182.50732422 C-19.64805664 183.56838379 -19.23458984 184.62944336 -18.80859375 185.72265625 C-18.43532959 186.66890869 -18.06206543 187.61516113 -17.67749023 188.59008789 C-17 191 -17 191 -18 194 C-34.21079481 182.42633562 -45.53269294 165.90124566 -49.56396484 146.25097656 C-50.03959358 142.70479945 -50.01227521 139.4033394 -49.88671875 135.828125 C-49.20579786 115.20635494 -49.20579786 115.20635494 -54.58984375 95.4609375 C-60.92405718 79.91491784 -57.31123122 58.84731008 -51.3125 43.875 C-41.58248257 22.5876204 -25.53786384 7.95956472 -3.85546875 -0.5390625 C-2 -1 -2 -1 0 0 Z" transform="translate(285,179)"/><path d="M0 0 C0 8.8381491 -8.45630793 17.67342012 -14 24 C-14.59296875 24.68835938 -15.1859375 25.37671875 -15.796875 26.0859375 C-28.49759064 39.81790783 -47.88110691 48.55372135 -66.48046875 49.3359375 C-68.3826306 49.36529032 -70.28511389 49.3778919 -72.1875 49.375 C-73.69098999 49.3747583 -73.69098999 49.3747583 -75.22485352 49.37451172 C-83.74670387 49.24451159 -90.94161831 47.69297959 -99 45 C-100.64129987 44.56581893 -102.28646677 44.14556004 -103.9375 43.75 C-104.948125 43.5025 -105.95875 43.255 -107 43 C-96.46350558 37.58052961 -85.10051939 33.65447185 -74.0625 29.375 C-72.47590932 28.75855042 -70.88932081 28.14209526 -69.30273438 27.52563477 C-58.07209768 23.16711773 -46.81946959 18.86890469 -35.53930664 14.64013672 C-28.29131411 11.9126579 -21.13261187 9.01555828 -14 6 C-12.75832834 5.48313404 -11.51624264 4.96725952 -10.2734375 4.453125 C-8.83871094 3.85757812 -8.83871094 3.85757812 -7.375 3.25 C-6.39273438 2.84265625 -5.41046875 2.4353125 -4.3984375 2.015625 C-2.91333736 1.38675523 -1.44249773 0.72124886 0 0 Z" transform="translate(477,379)"/><path d="M0 0 C1.56717773 0.00193359 1.56717773 0.00193359 3.16601562 0.00390625 C12.53332966 0.11821149 21.47745528 1.37211173 30.625 3.3125 C30.625 3.6425 30.625 3.9725 30.625 4.3125 C30.11195313 4.44785156 29.59890625 4.58320313 29.0703125 4.72265625 C22.37789414 6.60419475 15.97487446 9.06767594 9.51757812 11.61889648 C3.79572552 13.8749921 -1.95610522 15.97732428 -7.7734375 17.9765625 C-10.82735332 19.10935991 -13.814881 20.31973112 -16.81640625 21.58203125 C-23.47108986 24.37650267 -30.18729648 26.99999368 -36.9206543 29.59692383 C-38.93942796 30.37574379 -40.95707699 31.15742403 -42.97460938 31.93945312 C-50.41072691 34.81648792 -57.8667479 37.62810068 -65.375 40.3125 C-65.375 33.29915232 -57.39227109 27.04705868 -52.6875 22.25 C-38.35278781 8.00156241 -20.32926192 -0.10418584 0 0 Z" transform="translate(351.375,137.6875)"/><path d="M0 0 C1.42145856 1.19944027 2.815952 2.43129242 4.1875 3.6875 C5.06792969 4.48800781 5.94835937 5.28851563 6.85546875 6.11328125 C13.74496274 12.67968173 19.05417846 19.71500803 24.1875 27.6875 C16.46551933 27.6875 8.10999239 22.70854569 1.21484375 19.453125 C-0.10769821 18.83149874 -1.43045908 18.21033806 -2.75341797 17.58959961 C-3.42556335 17.27401093 -4.09770874 16.95842224 -4.79022217 16.63327026 C-10.67457302 13.88130218 -16.58794183 11.19178554 -22.5 8.5 C-23.19874237 8.18167206 -23.89748474 7.86334412 -24.61740112 7.53536987 C-38.92077286 1.0270634 -53.3342194 -5.20374675 -67.8125 -11.3125 C-50.2584814 -25.2590487 -15.68230304 -11.60825278 0 0 Z" transform="translate(447.8125,154.3125)"/><path d="M0 0 C2.61343493 4.579201 2.34391425 8.71441295 2.3125 13.875 C2.30512817 15.28640259 2.30512817 15.28640259 2.29760742 16.72631836 C1.93285901 38.60561146 -7.08306589 57.89528354 -22.67114258 73.06738281 C-26.23533225 76.42449301 -29.87316559 79.37383265 -34 82 C-34.68359375 80.37890625 -34.68359375 80.37890625 -35 78 C-33.84765625 75.21484375 -33.84765625 75.21484375 -32.0625 71.9375 C-29.06206222 66.25842596 -26.44556431 60.50104592 -24 54.5625 C-21.71656342 49.04365281 -19.38243729 43.58119555 -16.8125 38.1875 C-10.85121624 25.62423375 -5.49450031 12.77257517 0 0 Z" transform="translate(513,297)"/><path d="M0 0 C0.66 0 1.32 0 2 0 C2.60924791 1.6246611 3.21847859 3.24932867 3.82763672 4.87402344 C4.36804264 6.31488526 4.9087419 7.7556371 5.44970703 9.19628906 C6.79084464 12.76904874 8.12877782 16.3428541 9.453125 19.921875 C12.12055385 27.11417625 14.88500228 34.25899006 17.75 41.375 C19.17024077 44.91524418 20.58628948 48.45714321 22 52 C22.44553223 53.11552246 22.89106445 54.23104492 23.35009766 55.38037109 C24.76469096 58.93704892 26.16505142 62.4990553 27.5625 66.0625 C28.01657227 67.19929199 28.47064453 68.33608398 28.93847656 69.50732422 C29.35194336 70.56838379 29.76541016 71.62944336 30.19140625 72.72265625 C30.56467041 73.66890869 30.93793457 74.61516113 31.32250977 75.59008789 C32 78 32 78 31 81 C14.85877464 69.47600459 3.32445719 52.86048694 -0.54858398 33.21777344 C-1.015647 29.88846541 -1.12945446 26.72029663 -1.1328125 23.359375 C-1.13410156 22.12445313 -1.13539063 20.88953125 -1.13671875 19.6171875 C-1.13285156 18.34101563 -1.12898437 17.06484375 -1.125 15.75 C-1.12886719 14.45835937 -1.13273438 13.16671875 -1.13671875 11.8359375 C-1.13542969 10.60617187 -1.13414062 9.37640625 -1.1328125 8.109375 C-1.13168457 6.98499023 -1.13055664 5.86060547 -1.12939453 4.70214844 C-1 2 -1 2 0 0 Z" transform="translate(236,292)"/><path fill="none" d="M0 0 C1.13308594 -0.02449219 2.26617187 -0.04898438 3.43359375 -0.07421875 C11.14748555 -0.1013485 14.88564817 0.53818512 20.39453125 6.0078125 C25.70668277 12.79457464 25.62387253 19.00957943 24.75 27.375 C22.48872211 33.46626517 18.90525516 36.85377149 13.11767578 39.58764648 C8.62684494 41.08103991 4.1240136 40.90916129 -0.5625 40.8125 C-1.55056641 40.81958984 -2.53863281 40.82667969 -3.55664062 40.83398438 C-10.56757671 40.77194069 -10.56757671 40.77194069 -13.02880859 39.34033203 C-14.9519558 36.24530304 -14.65701262 33.02805317 -14.61328125 29.49609375 C-14.61377975 28.72822037 -14.61427826 27.96034698 -14.61479187 27.16920471 C-14.61245333 25.547754 -14.60273769 23.92629952 -14.58618164 22.30493164 C-14.5625541 19.81819357 -14.56562623 17.33252517 -14.57226562 14.84570312 C-14.56668994 13.27082692 -14.55958075 11.69595524 -14.55078125 10.12109375 C-14.55169266 9.37524521 -14.55260406 8.62939667 -14.55354309 7.86094666 C-14.41862008 -1.9184416 -8.00107148 0.00897988 0 0 Z" transform="translate(375.25,244.625)"/></svg>`,
  },
];

const currentJob = workExperience.find(job => job.isCurrent);
const previousJobs = workExperience.filter(job => !job.isCurrent);
---

<Layout title="Sergiy Dybskiy, Builder">
  <div class="min-h-screen font-mono p-4 flex items-center justify-center text-sm">
    <main class="max-w-[700px] w-full">
      <Header location="toronto, canada" />

      {currentJob && (
        <section class="mb-8">
          <div class="flex items-center mb-2">
            <span set:html={currentJob.logo} />
            <span class="text-primary ml-2">{currentJob.company} <span class="text-muted">{currentJob.role}</span></span>
          </div>
          <p class="text-primary">{currentJob.role} at {currentJob.company}. Passionate about creating seamless user experiences and pushing the boundaries of digital interfaces.</p>
        </section>
      )}

      <section class="mb-8">
        <h2 class="font-semibold mb-2">previously</h2>
        <ul class="space-y-2">
          {previousJobs.map((job) => (
            <li class="flex items-center">
              {job.logo && (
                <div class="w-6 h-6 mr-2 flex items-center justify-center">
                  <span set:html={job.logo} />
                </div>
              )}
              {job.link ? (
                <span class="text-primary">{job.company} ({job.note} <a href={job.link.url} target="_blank" class="text-primary">{job.link.text}</a>) <span class="text-muted">{job.role}</span></span>
              ) : (
                <span class="text-primary">{job.company} <span class="text-muted">{job.role}</span></span>
              )}
            </li>
          ))}
        </ul>
      </section>

      <section class="mb-8">
        <h2 class="font-semibold mb-2">interests</h2>
        <ul class="space-y-1">
          <li class="flex items-center">
            <span class="mr-2 text-muted">-</span>
            <span class="text-primary">Design Systems & UI/UX</span>
          </li>
          <li class="flex items-center">
            <span class="mr-2 text-muted">-</span>
            <span class="text-primary">Front-end Development</span>
          </li>
          <li class="flex items-center">
            <span class="mr-2 text-muted">-</span>
            <span class="text-primary">Open Source</span>
          </li>
          <li class="flex items-center">
            <span class="mr-2 text-muted">-</span>
            <span class="text-primary">Tennis, Golf, Snowboarding</span>
          </li>
          <li class="flex items-center">
            <span class="mr-2 text-muted">-</span>
            <span class="text-primary">Lego</span>
          </li>
        </ul>
      </section>

      <section class="mb-8">
        <h2 class="font-semibold mb-2">community</h2>
        <ul class="space-y-2">
          <li class="flex items-center">
            <span class="mr-2 text-muted">-</span>
            <span class="text-primary"><a href="https://guild.host/react-toronto" class="text-primary">React Toronto</a> <span class="text-muted">Organizer</span></span>
          </li>
        </ul>
      </section>

      <Footer />
    </main>
  </div>
</Layout>
